<div class="form">
  <div class="form-header">
    <div class="form-title">
      Let's Start
    </div>
    <div class="form-sub-title">
      Fill out the form and we'll get in touch to get your trial set up.
    </div>
  </div>

  <div class="form-body">
    <div class="form-control">
      <div class="question">
        <div class="text">Do you want to make ads that convert?</div>
        <div class="inline">
                <span class="yes-input">
                  <input type="radio" id="yes" [(ngModel)]="name" name="convertAds" value="yes">
                  <label for="yes">Yes</label>
                </span>
          <span class="no-input">
                  <input type="radio" id="no" [(ngModel)]="name" name="convertAds" value="no">
                  <label for="no">No</label>
                </span>
        </div>

      </div>
      <div class="question">
        <label for="monthlyBudget">What's your monthly ad budget?</label>
        <br>
        <select name="monthlyBudget" [(ngModel)]="monthlyBudget" id="monthlyBudget" class="budget-option">
          <option value="500">500</option>
          <option value="1000">1000</option>
          <option value="1500">1500</option>
          <option value="2000">2000</option>
        </select>
      </div>
      <div>
        <button (click)="gotoKeepInTouch()" class="btn">GET STARTED</button>
      </div>
    </div>
  </div>
</div>
